<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app"></div>

    <script src="https://unpkg.com/vue@3"></script>

    <template id="myapp">
      <h2>{{message}}</h2>
      <div v-for="(item,index) in movies" :key="item">
        <p>{{index}}:{{item}}</p>
      </div>

      <!-- 遍历对象 -->
      <div v-for="(value,key,index) in info" :key="value">
        {{index}},{{key}},{{value}}
      </div>

      <!-- 遍历数字 -->
      <div v-for="(num,index) in 9" :key="num">{{num}},{{index}}</div>
    </template>

    <script>
      const App = {
        template: '#myapp',
        data() {
          return {
            message: 'wkb',
            movies: ['奇迹笨小孩', '这个杀手不太冷静', '淘金'],
            info: {
              name: 'code',
              age: 12,
              height: 1.8,
            },
          }
        },
        methods: {},
      }

      Vue.createApp(App).mount('#app')
    </script>
  </body>
</html>
